{
    "useTabs": true,
    "printWidth": 180,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "parser": "babel",
    "semi": false,
    "rcVerbose": true
}